@model List<ProductGetVM>
<div class="container">
	<div>
		<a asp-area="Admin" asp-controller="Product" asp-action="Create" class="btn btn-success">Create</a>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Price</th>
					<th scope="col">Rating</th>
					<th scope="col">ImagePath</th>
					<th scope="col">CategoryName</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var product in Model)
				{
					<tr>
						<th scope="row">@product.Id</th>
						<td>@product.Title</td>
						<td>@product.Description</td>
						<td>@product.Price</td>
						<td>@product.Rating</td>
						<td>@product.ImagePath</td>
						<td>@product.CategoryName</td>
						<td>
							<a asp-area="Admin" asp-controller="Product" asp-action="Update" asp-route-id="@product.Id" class="btn btn-warning">Update</a>
							<a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				}

			</tbody>
		</table>

	</div>
</div>